<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>toDoList模板</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./lib/vue.js"></script>

</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>任务清单</h1>
            <!-- 1.2 keyup.enter事件绑定 inputValue双向数据绑定 -->
            <input autofocus="autofocus" autocomplete="off" placeholder="想干啥?" class="new-todo" @keyup.enter="addTodo"
                v-model.trim="inputValue">
        </header>
        <section class="main">
            <input type="checkbox" class="toggle-all">
            <ul class="todo-list">
                <!-- 1.3 渲染列表数据 -->
                <!-- 5.2 v-bind绑定属性添加类名 -->
                <li class="todo " :class="{completed: item.isCompleted}" v-for="(item, index) in todoList">
                    <div class="view">
                        <!-- 5.1 双向数据绑定让checkbox的选中状态与isCompleted保持一致 -->
                        <input type="checkbox" class="toggle" v-model="item.isCompleted">
                        <label>{{item.content}}</label>
                        <!-- 4.1 找到这个删除按钮x 添加click点击事件 传入下标 -->
                        <button class="destroy" @click="delOne(index)"></button>
                    </div>
                    <input type="text" class="edit">
                </li>
                <li class="todo completed">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>21</label>
                        <button class="destroy"></button>
                    </div>
                    <input type="text" class="edit">
                </li>
                <li class="todo editing">
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>21</label>
                        <button class="destroy"></button>
                    </div>
                    <input type="text" class="edit">
                </li>
            </ul>
        </section>
        <footer class="footer">
            <!-- 需求升级：如果为0项，就隐藏这个标签 -->
            <!-- <span class="todo-count" v-show="{{uncompletedTodo!=0}}"> -->
            <span class="todo-count" v-show="uncompletedTodo!=0">
                <strong>{{uncompletedTodo}}</strong> 项 剩余
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" class="selected">全部</a>
                </li>
                <li>
                    <a href="#/active" class="selected">未完成</a>
                </li>
                <li>
                    <a href="#/completed" class="selected">完成</a>
                </li>
            </ul>
            <!-- 6.1 绑定点击事件 -->
            <button class="clear-completed" @click="clearList">
                清空列表
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>双击进入编辑状态</p>
        <p>鸣谢:
            <a href="http://evanyou.me">Evan You</a>
        </p>
        <p>参考于
            <a href="http://todomvc.com">TodoMVC</a>
        </p>
    </footer>

    <script>
        // tell the embed parent frame the height of the content
        if (window.parent && window.parent.parent) {
            window.parent.parent.postMessage(["resultsFrame", {
                height: document.body.getBoundingClientRect().height,
                slug: "4dr2fLb7"
            }], "*")
        }
    </script>


</body>

</html>

<script>
    /*
[需求1]
顶部输入框，输入内容，回车，获取输入的内容，添加到页面，即增加一条待办事项
@keyup.enter
双向数据绑定
for循环渲染列表数据
数据结构（新增待办事项不能仅仅是输入的字符串，还有完成状态也要记录下来，所以要传入一个对象）
[
    {
        content: '新增待办内容',
        isCompleted: false      默认新增待办内容都是未完成状态
    }
]

[需求2]
对输入内容做非空判断，为空提示用户，不为空才新增数据
新增数据成功之后，还要清空内容
新增的待办事项要在最前面，那就不能用push，还用unshift

[需求3]
计算未完成的待办事项的个数
计算属性
找到所有isCompleted为false的数组元素即可

[需求4]
点击每一行末尾的删除按钮x，删除当前待办事项
click事件
传入下标

[需求5]
双向数据绑定：点击每一个待办事项的checkbox，切换完成状态，让checkbox的选中状态与isCompleted保持一致
v-bind绑定属性，如果标识状态isCompleted为true，就为当前li标签添加一个completed类名（但原有类名保持不变）

[需求6]
点击清空列表
绑定点击事件，设置数组为空即可

[需求7]
点击清空列表，只清空已完成的
注意数组要从后往前删，不然数组排序的改变会影响删除

[需求8]
待办事项数据常驻
localStorage（只要不清除缓存，就一直都存在，硬盘中，而非内存中）
sessionStorage（一次会话，关闭浏览器就不在了）

其实这样缓存数据还是存在用户侧，如果要保证缓存数据一直都存在，就要保存在服务器端的数据库，因为客户端是不可控的
    8.1 读取数据
    页面一打开时，就读取缓存数据（有就使用，无就设置为空数组）
    8.2 保存数据
    每次修改数据，就保存一次（性能消耗大）
    浏览器关闭时，才保存数据（性能消耗小）

[需求9]
用vue的生命周期函数实现数据常驻
beforeCreate    beforeCreate在实例初始化之后，数据观测 (data observer) 和 event/watcher 事件配置之前被调用
                vue实例被创建时即触发，但传递的参数还没有应用上去，所以实际开发中很少应用，因为访问不到vue中的任何任何
created         created在实例创建完成后被立即调用。在这一步，实例已完成以下的配置：数据观测 (data observer)，属性和方法的运算，watch/event 事件回调。然而，挂载阶段还没开始，$el 属性目前不可见
                Vue实例创建好，并且传递的属性都设置到这个实例上了，一般在初始化Vue的数据时使用


*/



    // 8.1 页面一打开，读取数据，读取出来是json字符串，需要转换为js数据
    // let todoList = JSON.parse(window.localStorage.getItem("userTodoList")) || [];
    // 8.2 页面关闭时触发
    // window.onunload = function(){
    window.onbeforeunload = function () {
        // 缓存保存在硬盘中
        window.localStorage.setItem("userTodoList", JSON.stringify(app.todoList));
    }

    // 1.1 实例化一个vue对象
    let app = new Vue({
        el: ".todoapp",
        data: {
            // 待办事项数组
            todoList: [],
            // todoList, //es6快速赋值

            // 双向数据绑定
            inputValue: ''
        },
        methods: {
            // 新增待办事项
            addTodo() {
                // 2.1 非空判断
                if (this.inputValue === '') {
                    alert('不能提交为空');
                    return;
                }
                // 2.3 插入数组中
                // this.todoList.push({     //push是插入在数组末尾
                this.todoList.unshift({ //unshift是插入在数组开头
                    // 内容
                    content: this.inputValue,
                    // 是否完成的状态（新增的默认都是false）
                    isCompleted: false
                });

                // 2.2 每次添加完待办事项后立马清空内容
                this.inputValue = '';
            },
            // 4.2 根据索引，删除对应的待办事项
            delOne(index) {
                // 删除之前，最好提示一下用户
                if (confirm('确定要删除吗？') == true) {
                    this.todoList.splice(index, 1);
                }
            },
            // 6.2 清空数据
            clearList() {
                // 删除之前，最好提示一下用户
                if (confirm("确定要清空列表么？")) {
                    // this.todoList = [];

                    // 7.1 清空已完成的待办事项（一定要从后往前删）
                    // this.todoList.forEach((v, i, arr)=>{
                    //     if(v.isCompleted){
                    //         arr.splice(i, 1);
                    //     }
                    // })
                    for (let i = this.todoList.length - 1; i >= 0; i--) {
                        if (this.todoList[i].isCompleted) {
                            this.todoList.splice(i, 1);
                        }
                    }
                }
            }
        },
        // 计算属性
        computed: {
            // 3. 未完成的待办事项
            uncompletedTodo() {
                // 遍历 判断 累加
                let uncompletedCount = 0;
                /*
                数组的forEach方法
                1. 数组点出来的方法
                2. forEach()小括号里接收的参数是回调函数，这里是一个箭头函数
                    参数1 每次循环的值
                    参数2 索引
                    参数3 数组本身
                */
                this.todoList.forEach((v, i, arr) => {

                    // console.log(v, i, arr);

                    if (v.isCompleted == false) {
                        uncompletedCount++;
                    }
                })
                // 将计算得到的未完成待办事项的个数返回
                return uncompletedCount;
            }
        },

        // 9.1 用生命周期函数读取数据
        beforeCreate() {
            console.log('beforeCreate');
            console.log(this.todoList);   //undefined 获取不到任何内容
        },

        created() {
            console.log("created");
            console.log(this.todoList);
            this.todoList = JSON.parse(window.localStorage.getItem("userTodoList"))||[];
        },
    })
</script>